@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}
.h1login {
  margin-bottom: 30px;
  font-family: Candara;
}

.bg {
  background-image: url(../Signup/signupbg.jpeg);
  display: flex;
  background-size: 100vw 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.form1 {
  position: relative;
  display: flex;
  opacity: 90%;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  margin: 1rem 0 .5rem;
  width: 30%;
  background: #F3CCFF;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

.inputlogin {
  background-color: #ffffff;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  border-radius: 24px;
  padding: 10px 15px;
  margin-top: 10px;
}

.buttonsignup[type="submit"] {
  background-color: #A555EC;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-bottom: 20px;
}

.buttonsignup[type="submit"]:hover {
  background-color: palevioletred;
}

.inputlogin:focus {
  outline: none;
  border: 2px solid #005ce6;
}

