
.Apps {
  text-align: center;
  background-image: url(../HomeAdmin/wecome2admin22.png);
  font-family: Candara;
  /* padding: 50px; */
}


.App-header {
  background-color: #b39afd;
  min-height: 10vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 4;
}

main {
  margin-top: 50px;
  text-align: left;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

p {
  text-align: center;
  line-height: 1.5;
}

