.footer {
  background-color: #A555EC;
  opacity: 100%;
  color: #000000;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  margin-left: 10px;
  padding-right: 40px;
}

.list {
  padding-left: 50px;
}

li {
  padding-bottom: 10px;
  padding-left: 50px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left:0px;
}

.footer-links-column {
  list-style: none;
}

.footer-links-column li {
  margin-bottom: 10px;
  text-decoration: none;
}


.footer-links a {
  color: #000000;
  text-decoration: none;
 
}



.footer-copyright {
  margin: 0;
  font-size: 14px;
  text-align: center;
}
