@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

*{
  font-family: "Montserrat", sans-serif;
}

.formdiv {
  position: relative;
  display: flex;
  opacity: 90%;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
  border-radius: 8px;
  margin: 1rem 0 .5rem;
  background: #F3CCFF;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  width: 700px; 
  margin: 0 auto;
}

.formfill{
  background-color: white;
}

.color {
  color: aqua;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.h1form{
  color: black;
  font-family: Candara;
  font-size: 40px;
}

.labelsform{
  color: black;
  padding-top:10px;
  padding-bottom: 5px;
  font-family: Optima;
}


.btnsubmit {
  background-color: #A555EC;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 100px;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.btnsubmit[type="submit"]:hover {
  background-color: palevioletred;
  align-items: center;
}



.textareaform{
  border-radius: 10px;
  line-height: 25px;
  font-size: medium;
}

.textareaform1{
  border-radius: 10px;
  line-height: 25px;
  font-size: medium;
}

input {
  display: block;
  width: 400px; 
  margin: 0 auto;
  height: 1px;
  padding: 20px;
  border: none;
  border-radius: 0;
  border-bottom: solid;
  color: white;
  transition: .3s ease;
  cursor: pointer;
}

textarea {
  display: block;
  width: 400px; 
  margin: 0 auto;
  height: 100px;
  padding: 20px;
  border: none;
  border-radius: 0;
  border-bottom: solid;
  color: white;
  transition: .3s ease;
  cursor: pointer;
}





