@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Roboto:wght@300&family=Ubuntu:wght@300;400&display=swap");

/* * */
.job-card {
  margin: 40px;
  margin-bottom: 40px;
  border: none;
}

/* * */
.job-card-first-row {
  background: #d2c2fd;
  margin: 5px;
  padding: 3px;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
}
/* * */
.job-card-second-row {
  background: #b39afd;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
}
/* * */
.job-card-first-col {
  background: none;
}
/* * */
.job-card-second-col {
  background: none;
}

/* * */
.job-card-title-company-name {
  background: #eee6ff;
  margin: 15px;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
/* * */
.job-card-title-company-name h3 {
  padding-top: 0px;
  font-family: Nunito Sans;
  padding-bottom: 10px;
}

/* * */
.h-icons {
  padding-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.primaryBtn {
  display: flex;
  flex-direction: column;
  margin-left: 490px;
  margin-top: 41px;
  align-items: center;
  padding: 10px 30px;
  font-family: Candara;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #8f6bfc;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primaryBtn:hover {
  color: #fff;
  /* box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); */
  outline: 0;
}

.job-card-title-company-name h2 {
  font-family: Nunito Sans;
}

.job-card-second-row h3 {
  font-family: Nunito Sans;
}
