@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Roboto:wght@300&family=Ubuntu:wght@300;400&display=swap");

/* * */
.job-card {
  margin: 5px;
  margin-bottom: 20px;
  border: black solid;
}

/* * */
.job-card-first-row {
  background: #d2c2fd;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}
/* * */
.job-card-second-row {
  background: #b39afd;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}
/* * */
.job-card-first-col {
  background: none;
}
/* * */
.job-card-second-col {
  background: none;
}

/* * */
.job-card-title-company-name {
  background: #eee6ff;
  padding: 10px;
}
/* * */
.job-card-title-company-name h3 {
  padding-top: 12px;
  font-family: Goudy Old Style;
}

/* * */
.h-icons {
  margin-right: 5px;
  margin-left: 5px;
}

.primaryBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: #b39afd;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primaryBtn:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

h2{font-family: Goudy Old Style;}
