.mainbody {
    margin: 50px auto;
    width: 700px;
    font-family: Arial, sans-serif;
  }
  
  .center {
    text-align: center;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .col-3 {
    float: left;
    width: 33.33%;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
  }
  
  .fa-quote-left {
    color: #666;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }