@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Roboto:wght@300&family=Ubuntu:wght@300;400&display=swap");

.RightpaneBox {
  margin: 20px;
  background-color: white;
  flex: 8;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
/* * */
.job-card {
  margin: 5px;
  margin-bottom: 20px;
  border: black solid;
  border-radius: 20px;
}

.job-card-container {
  background-color: white;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
/* * */
.job-card-first-row {
  background: #d2c2fd;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
/* * */
.job-card-second-row {
  background: #d2c2fd;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
/* * */
.job-card-first-col {
  background: #d2c2fd;
  margin: 5px;
  display: flex;
  border-radius: 15px;
}
/* * */
.job-card-second-col {
  background: #d2c2fd;
  margin: 5px;
  padding: 8px;
}

.job-card-icon {
  background: black;
}
/* * */
.job-card-title-company-name {
  background: white;
  padding: 10px;
  border-radius: 15px;
}
/* * */
.job-card-title-company-name h3 {
  padding-top: 12px;
}

/* * */
.h-icons {
  margin-right: 5px;
  margin-left: 5px;
}
