.RightpaneBox {
  margin: 20px;
  background-color: green;
  flex: 8;
  border-radius: 5px;
}

.job-card-container {
  background-color: aliceblue;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.job-card-first-row {
  background: pink;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.job-card-second-row {
  background: pink;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.job-card-first-col {
  background: blue;
  margin: 5px;
  display: flex;
  border-radius: 15px;
}

.job-card-second-col {
  background: blue;
  margin: 5px;
}

.job-card-icon {
  background: black;
}

.job-card-title-company-name {
  background: white;
  padding: 10px;
}
