.navBarBox{
    height: 50px;
    width: 100%;
    background-color: #d4ebf2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.personlogo{
    width: 40px;
    height: 30px;

}

.navBarLeft{
    flex: 3;
}

.navBarCenter{
    flex: 11;
}

.navBarRight{
    flex: 4;
}

.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

.navBarLinks{
    display: flex;
    align-items: center;
}