.navBarBox{
    height: 60px;
    width: 100%;
    background-color: #A555EC;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.personlogo{
    width: 250px;
    height: 200px;
}

.navBarLeft{
    flex: 4;
}

.navBarCenter{
    flex: 9;
}

.navBarRight{
    flex: 2;
}

.logo{
    font-size: 38px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
    font-family: Candara;
}

.navBarLinks{
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
    max-width: 140px;
    background-color: #D09CFA;
}


